
= bootstrap_form_for(article) do |form|
  = form.text_field :title
  - article.errors.full_messages_for(:title).each do |message|
    %div= message

  = form.text_area :body
  - article.errors.full_messages_for(:body).each do |message| 
    %div= message 

  = form.select :status, ['public', 'private', 'archived'], {}, { class: "form form-group form-control" }
  
  %div
    -if article.cover_photo.attached?
      = image_tag article.cover_photo, style: "width: 200px; display: block"
    -else
      = form.file_field :cover_photo

  = form.submit "Create Article", class: "btn btn-success"
  


  -# %div.mb-3.ms-5
  -#   = form.label :user_id, 'Author\'s first name'
  -#   -# - selected_user = users.select{ |user| break user[:first_name] if user[:id] == article.user_id}     #ako toto vyriesit bez hardkodu
  -#   -# - options_users = users.collect{|u| [u[:first_name], u[:id]]}
  -#   - puts users.inspect

  -#   -# - selected_user = users.find{ |u| u[1] == article.user_id}
  -#   -# - selected_index = users.index(selected_user)
  -#   = form.select :user_id, options_for_select(users, selected: article.user_id, )