-# = puts users
-# = puts article.user_id

= form_with model: article do |form|
  %div.mb-3.mt-3.ms-5
    = form.label :title, {class: "form-label pl-5"}
    %br/
    = form.text_field :title
    - article.errors.full_messages_for(:title).each do |message|
      %div= message

  %div.mb-3.ms-5
    = form.label :body
    %br/
    = form.text_area :body
    %br/
    - article.errors.full_messages_for(:body).each do |message| 
      %div= message 

  %div.mb-3.ms-5
    = form.label :status 
    %br/
    = form.select :status, ['public', 'private', 'archived'], {}, { class: "form form-group form-control" }

  -# %div.mb-3.ms-5
  -#   = form.label :user_id, 'Author\'s first name'
  -#   -# - selected_user = users.select{ |user| break user[:first_name] if user[:id] == article.user_id}     #ako toto vyriesit bez hardkodu
  -#   -# - options_users = users.collect{|u| [u[:first_name], u[:id]]}
  -#   - puts users.inspect

  -#   -# - selected_user = users.find{ |u| u[1] == article.user_id}
  -#   -# - selected_index = users.index(selected_user)
  -#   = form.select :user_id, options_for_select(users, selected: article.user_id, )
  %div.mb-3.ms-5
    = form.submit
  