= puts users
-# = puts article.user_id

= form_with model: article do |form|
  %div
    = form.label :title 
    %br/
    = form.text_field :title
    - article.errors.full_messages_for(:title).each do |message|
      %div= message

  %div
    = form.label :body
    %br/
    = form.text_area :body
    %br/
    - article.errors.full_messages_for(:body).each do |message| 
      %div= message 

  %div
    = form.label :status 
    %br/
    = form.select :status, ['public', 'private', 'archived'], selected: 'public'

  %div 
    = form.label :user_id, 'Author\'s first name'
    -# - selected_user = users.select{ |user| break user[:first_name] if user[:id] == article.user_id}     #ako toto vyriesit bez hardkodu
    -# - puts selected_user
    -# - options_users = users.collect{|u| [u[:first_name], u[:id]]}
    = form.select :user_id, options_for_select(users) #, selected: selected_user)
  %div
    = form.submit
  