-# %div.wrapper
%div.grid
  = render 'shared/header' 
  = render 'shared/navigation' 

  %div.col
    %div.row
    
      %div.col.pb-5.justify-center
        -# %ul.list-group
        - @articles.each do |article|
          - unless article.archived?
            - author = User.find(article.user_id)
            = link_to article do
              %div
                %h3.no-link-style.mt-5= article.title
                %h5.no-link-style #{author.first_name} #{author.last_name}
                %div
                  -if article.cover_photo.attached?
                    = image_tag article.cover_photo, style: "width: 500px"
    
    %div.row.pb-5.justify-content-center  
      =paginate @articles, theme: 'bootstrap-5'
  
-# %li.list-group-item.list-group-item-action
-# = link_to article.title, article
-# = link_to "New Article", new_article_path


  
