
%header.masthead      
  .container.position-relative.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center.text-center
      .col-md-10.col-lg-8.col-xl-7
        .site-heading
          %h1 Welcome to my blog!
          %span.subheading This blog has #{Article.public_count} articles and counting!

%div.container.pb-3.pt-3
  - if user_signed_in? 
    %div 
      Welcome #{current_user.first_name}
    = button_to "Sign out", destroy_user_session_path, method: :delete 
  - else
    = button_to "Sign in", new_user_session_path
    = link_to "Sign up", new_user_registration_path


%div.container
  %div.row
    %div.col.pb-4.justify-center
      -# %ul.list-group
      - @articles.each do |article|
        - unless article.archived?
          - author = User.find(article.user_id)
          = link_to article do
            %div
              %h3.no-link-style.mt-5= article.title
              %h5.no-link-style #{author.first_name} #{author.last_name}
              %div.no-link-style.pl-2.fakeimg
                Cover Image
          
          -# %li.list-group-item.list-group-item-action
          -# = link_to article.title, article
        
  -# = link_to "New Article", new_article_path

%div.container.pt-3.pb-5
  %a.btn.btn-outline-primary{ href: new_article_path }= 'New article'
  
