%div.container.position-absolute.top-50.start-50.translate-middle
  %h2.pb-3 Please sign in
  = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      -# = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", floating: true
    .field
      -# = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password",floating: true
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me, switch: true
        -# = f.label :remember_me

    .actions
      = f.submit "Sign in", class: "btn btn-success"
  = render "devise/shared/links"

